body {
    display: grid;
    grid-template-areas:
        "table control"
        "footer footer";
    --tw: 80vw;
    height: 100vh;
    overflow-y: scroll;
    padding: 0;
    margin: 0;
}

footer {
    grid-area: footer;
    padding: 2vw;
}