main {
    background-color: #000000;
    .HOME {
        font-family: 'Pretendard';
        font-style: normal;
        font-weight : bold;
        font-size: 125%;
        color: #ffffff;
        display: flex;
        margin-left: 30px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .ABOUT {
        font-family: 'Pretendard';
        font-style: normal;
        font-size: 125%;
        color: #ffffff;
        display: flex;
        margin-left: 30px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .EVENTS {
        font-family: 'Pretendard';
        font-style: normal;
        font-size: 125%;
        color: #ffffff;
        
        margin-left: 30px;
        justify-content: space-around;
        align-items: center;
    }
}

div {
    font-family: 'Pretendard';
    font-style: normal;
    display: block;
}
