html { 
    font-size: 75%;
    font-family: 'Pretendard';
    font-style: normal;
}
body {
    margin: 0;
}
a { text-decoration: none; color: #000000;}
* { box-sizing: border-box; }

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 2rem;
    font-weight: bold;
    background-color: #000000;

    .title {
        font-family: 'Pretendard';
        font-style: normal;
        margin: 0px 30px 0px 30px;
        color: #ffffff;
        display: flex;
        gap: 2rem;
        align-items: center;
    }

    .HEAD {
        font-family: 'Pretendard';
        font-style: normal;
        color: #ffffff;
    }

    ul {
        margin: 0px 30px 0px 30px;
        padding: 0;
        border: 0;
        display: flex;
        list-style: none;
        justify-content: space-evenly;
        li {
            
            font-family: 'Pretendard';
            font-style: normal;
            font-size: 80%;
            margin: 0px 10px 0px 10px;
            padding: 1rem;
        }
        .li.curr {
            text-decoration: underline 5px #000000;
        }
    }

}

footer {
    font-size :130.35%;
    font-family: 'Pretendard';
    font-style: normal;
    background-color: #000000;
    color: #00ff00;
    padding: 3rem;
    a {
        color: #00ff00;
    }
    /*font-size: 2rem;
    text-align: center;
    font-weight: bold;*/
}
  